body {
    text-align: center;
    background-image: url(https://www.wallpapers.net/web/wallpapers/cool-pokemon-hd-wallpaper/3840x2160.jpg);
    background-size: cover;
    color: white;
}

.comClass {
    background-color: rgba(169, 189, 227, 0.516);
    color: black;
    font-weight: bold;
}

.fa-star {
    color: #333;
  }
  
  .checked {
    color: #fbc02d;
  }