body {
    text-align: center;
    background-image: url(https://www.wallpapers.net/web/wallpapers/cool-pokemon-hd-wallpaper/3840x2160.jpg);
    background-size: cover;
    color: white;
}

.comentarios{
  text-align: justify;
  margin-left: 30vb;
}
label{
  color: white;
  padding: 3px;

}
.comClass {
    background-color: rgba(169, 189, 227, 0.703);
    color: black;
    font-weight: bold;
    margin-left: 30vh;
    margin-right: 30vh;
    border-radius: 15px;
}

.fa-star {
    color: #333;
  }
  
  .checked {
    color: #fbc02d;
  }